<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    DirectoryIndex views/main/index.php

    RewriteRule ^cars/new?$                    views/cars/new.php
    RewriteRule ^cars/([_0-9a-z-]+)/?$         views/cars/show.php?slug=$1
    RewriteRule ^cars/([_0-9a-z-]+)/edit?$     views/cars/edit.php?slug=$1

    RewriteRule ^cars/([_0-9a-z-]+)/service?$  views/car_services/new.php?slug=$1
    RewriteRule ^car_services/([0-9]+)/edit?$  views/car_services/edit.php?id=$1
</IfModule>